.banner {
  background-color: red;
  width: 850px;
  height: 200px;
  position: absolute;
}
#headshot {
  left: 50px;
  top: 100px;
  width: 200;
  height: 250px;
}
#profile,
#website {
  float: right;
  top: 200px;
  left: 200px;
}
