body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  position: absolute;
  background-color: #00356b;
  height: 300px;
  width: 850px;
  z-index: 0;
  /* border: 5px solid black; */
  box-shadow: 1px 1px 3px, -1px -1px 3px lightgray;
}
#headshot {
  background-size: contain;
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 100px;
  width: 200px;
  height: 225px;
  border: 3px solid darkblue;
  padding: 5px;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 42px;
  position: absolute;
  top: 182px;
  left: 254px;
  /* border: 5px solid black; */
}
.profile a {
  color: black;
  text-decoration-line: none;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 234px;
  left: 262px;
  /* border: 5px solid black; */
}
.nav {
  position: absolute;
  background-color: whitesmoke;
  height: 100px;
  width: 850px;
  top: 280px;
  z-index: -2;
  /* border: 5px solid black; */
  box-shadow: 1px 1px 3px, -1px -1px 3px lightgray;
}
#menu {
  position: absolute;
  height: 20%;
  width: 40%;
  top: 266px;
  left: 560px;
  list-style-type: none;
  display: inline-flex;
  z-index: 999;
  /* border: 5px solid black; */
  margin: 3px 0;
}
a {
  text-decoration-line: none;
  font-size: medium;
}
.menu {
  width: 20px;
  height: 2.5px;
  background-color: black;
  margin: 3px 0;
}
#menu2 {
  position: absolute;
  height: 20%;
  width: 40%;
  top: 65px;
  left: 210px;
  list-style-type: none;
  display: inline-flex;
  z-index: 6;
  /* border: 5px solid black; */
  margin: 3px 0;
}
button {
}
/* main {
  display: grid;
  grid-auto-columns: 1fr 3fr;
  grid-auto-rows: 3fr 2fr;
} */
/* section .col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
.side-pane {
  /* display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; */
  background-color: violet;
  position: absolute;
  width: 275px;
  height: 400px;
  top: 468px;
  border: 2px solid black;
  /* margin: auto; */
  /* left: 43.75%; */
  margin-right: 10px;
}
.about {
}
.contact {
}
.apps {
}
.photos {
}
.timeline {
  /* display: flex;
  justify-content: flex-end; */
  background-color: darkviolet;
  position: absolute;
  width: 555px;
  height: 400px;
  top: 468px;
  left: 1125px;
  border: 2px solid black;
  /* margin: auto; */
  /* left: 62%; */
  margin-left: 10px;
}
.post1 {
}
.post2 {
}
.post3 {
}
.post4 {
}
#footer {
  display: inline-flex;
  text-decoration-style: none;
  list-style-type: none;
  margin-left: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 860px;
}
#copyright {
  position: absolute;
  top: 890px;
  font-size: small;
}
